* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in all;
}

header {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h2 {
  font-size: 3rem;
  margin: 1rem 3rem;
  color: rgba(102, 100, 100, 0.623);
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

nav {
  position: fixed;
  top: 5vh;
  right: 2vw;
  
}
ul {
  height: 500px;
  width: 500px;
  display: block;
  
}
li {
  list-style: none;
  font-size: 4rem;
}
a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  padding: 6px 12px;
  align-items: center;
  text-align: center;
  transition: all .4s ease-in-out;
}

li:nth-of-type(3n+3) {
  background: rgb(223, 126, 109);
  margin-left: 0;
  border-bottom-right-radius: 2rem;
}
li:nth-of-type(3n+2) {
  background: rgb(174, 245, 127);
  margin-left: 4rem;
  margin-bottom: 1rem;
}
li:nth-of-type(3n+1) {
  background: rgb(181, 128, 241);
  margin-left: 8rem;
  margin-bottom: 1rem;
  border-top-right-radius: 2rem;
}

li:hover{
  transform: scale(1.2) rotateX(180deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  outline: 2px solid #fafafa;
  outline-offset: 1px;
  
}
a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 3px rgba(20, 20, 20, 0.5);
}

.wrapper {
   
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 100rem;
    border-bottom-right-radius: 100rem;
}

.colorHeadline {
    text-transform: uppercase;
    font-size: 10rem;
    text-align: center;
    margin: 2rem auto;
    margin-bottom: 4rem;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    color: rgba(180, 180, 180, 0.37);
}

.btn {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    color: rgba(252, 252, 252, 0.534);
    margin-bottom: 2rem;
    animation: buttonAnim 10s ease infinite;
}

@keyframes buttonAnim {
  0%, 100% {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
  }
  33% {
    box-shadow: 0px 0px 10px 2px rgba(127, 30, 238, 0.829);
    transform: scale(0.92);
  }
  66%{
    box-shadow: 0px 0px 10px 2px rgba(201, 8, 240, 0.938);
    transform: scale(0.92);
  }
}

section {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  section.about>h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  section>#about {
    position: relative;
    background-blend-mode: lighten;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
    z-index: -1;
    background-image: url(./robiou.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
  }
  
   section>#about>h1 {
     position: absolute;
     top: 0;
     left: 20vw;
   }
  
  h1 {
    margin: 10rem auto;
    text-align: center;
    font-size: 5rem;
  }

  .sectionZero {
      background-color: #322514;
      color: #e75874;
      border: 1px solid #fbcbc9;
  }
  
  .sectionOne {
    background-color: #1d3c45;
    color: #fff1e1;
    border: 1px solid #d2601a;
  }

  
  .sectionAbout {
    background-color: #e8d21d;
    color: #cf1578;
    border: 1px solid #039fbe;
  }
  
  .sectionThree {
    background-color: #500472;
    color: #79cbb8;
    border: 1px solid #4a536b;
  }
  
  .sectionFour {
    background: linear-gradient(120deg, #16acea, #4203c9);
    color: #e8d71e;
    border: 1px solid #d71b3b;
  }

/* 

colors
ok matches
 body  rgb(215, 245, 93)    ,rgb(104, 48, 172)  ,rgb(201, 165, 157) ,
 text rgb(176, 141, 35)     ,rgb(113, 250, 105) ,rgb(166, 88, 119)  ,
 wrapper rgb(53, 101, 57)    ,rgb(29, 214, 234)  , rgb(148, 138, 54) ,
 button ?                   ,                   ,rgb(6, 144, 85)    ,


*/