* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in all;
}

header {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h2 {
  font-size: 3rem;
  margin: 1rem 5rem;
  color: rgba(102, 100, 100, 0.623);
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

nav {
  border-radius: 800% 100% 0% 0%;
  width: 50vw;
  
}
ul {
  height: 500px;
  width: 500px;
  display: block;
  position: fixed;
  top: 5vh;
  right: 5vw;
  
}
li {
  list-style: none;
  font-size: 4rem;
  outline: 2px solid #fafafa;
  outline-offset: 1px;
}
a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  padding: 6px 12px;
  align-items: center;
  text-align: center;
  transition: all .4s ease-in-out;
}

li:nth-of-type(3n+3) {
  background: rgb(223, 126, 109);
  margin-left: 0;
  border-bottom-right-radius: 2rem;
}
li:nth-of-type(3n+2) {
  background: rgb(174, 245, 127);
  margin-left: 4rem;
  margin-bottom: 1rem;
}
li:nth-of-type(3n+1) {
  background: rgb(181, 128, 241);
  margin-left: 8rem;
  margin-bottom: 1rem;
  border-top-right-radius: 2rem;
}

li:hover{
  transform: scale(1.2) rotateX(180deg);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  
}
a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 3px rgba(20, 20, 20, 0.5);
  transition-delay: 0.1s;
  outline-offset: -3px;
  outline-width: 1px;
}

.wrapper {
   
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 100rem;
    border-bottom-right-radius: 100rem;
}

.colorHeadline {
    text-transform: uppercase;
    font-size: 10rem;
    text-align: center;
    margin: 2rem auto;
    margin-bottom: 4rem;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.4);
    color: rgba(180, 180, 180, 0.37);
}

.btn {
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    outline: none;
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    color: rgba(156, 156, 156, 0.226);
    margin-bottom: 2rem;
}

section {
    height: 100vh;
    width: 100%;
  }
  
  h1 {
    margin: 20rem 30rem;
    text-align: center;
    font-size: 5rem;
  }

  .sectionZero {
      background-color: rgb(215, 245, 93);
      color: rgb(176, 141, 35);
  }
  
  .sectionOne {
    background-color: rgb(104, 48, 172);
    color: rgb(113, 250, 105);
  }

  
  .sectionTwo {
    background-color: #90BEDE;
    color: rgb(53, 101, 57);
  }
  
  .sectionThree {
    background-color: rgb(201, 165, 157);
    color: rgb(166, 88, 119);
  }
  
  .sectionFour {
    background-color: rgb(248, 184, 48);
    color: rgb(25, 118, 212);
  }

/* 

colors
ok matches
 body  rgb(215, 245, 93)    ,rgb(104, 48, 172)  ,rgb(201, 165, 157) ,
 text rgb(176, 141, 35)     ,rgb(113, 250, 105) ,rgb(166, 88, 119)  ,
 wrapper rgb(53, 101, 57)    ,rgb(29, 214, 234)  , rgb(148, 138, 54) ,
 button ?                   ,                   ,rgb(6, 144, 85)    ,


*/